<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="elexis-developer-resources.category1"
            name="ch.elexis.developer.resources.category">
      </category>
      <view
            class="ch.elexis.developer.resources.SampleVIew"
            id="ch.elexis.developer.resources.views.sample"
            name="%SampleView"
            restorable="true">
      </view>
   </extension>

</plugin>
