<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Build Elexis Core (at.medevit.medelexis.core.feature) and create artifacts for platforms.</description>
  <logRotator>
    <daysToKeep>-1</daysToKeep>
    <numToKeep>4</numToKeep>
    <artifactDaysToKeep>-1</artifactDaysToKeep>
    <artifactNumToKeep>-1</artifactNumToKeep>
  </logRotator>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.plugins.disk__usage.DiskUsageProperty/>
  </properties>
  <scm class="hudson.plugins.mercurial.MercurialSCM">
    <source>http://elexis.hg.sourceforge.net:8000/hgroot/elexis/elexis-base</source>
    <modules></modules>
    <branch>Release_2.1.1</branch>
    <clean>false</clean>
    <forest>false</forest>
    <browser class="hudson.plugins.mercurial.browser.HgWeb">
      <url>http://elexis.hg.sourceforge.net:8000/hgroot/elexis/elexis-base/</url>
    </browser>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers class="vector">
    <hudson.triggers.SCMTrigger>
      <spec>*/15 * * * *</spec>
    </hudson.triggers.SCMTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>echo &quot;=== Beziehe Abhängigkeiten&quot;
mkdir tmp
hg clone -u Release_2.1.1 /srv/www/repo.medelexis.ch-SSL/medelexis-trunk ./tmp
cp -r ./tmp/* .
rm -r ./tmp

echo &quot;=== Fix component dirname/buildname mismatch&quot;
/usr/local/bin/renameEclipseProject.sh elexis ch.elexis
/usr/local/bin/renameEclipseProject.sh elexis-utilities ch.rgw.utility
/usr/local/bin/renameEclipseProject.sh h2-adapter ch.elexis.h2.connector
/usr/local/bin/renameEclipseProject.sh hsql-adapter ch.elexis.hsql.connector
/usr/local/bin/renameEclipseProject.sh mysql-adapter ch.elexis.mysql.connector
/usr/local/bin/renameEclipseProject.sh postgresql-adapter ch.elexis.postgresql.connector

/usr/local/bin/renameEclipseProject.sh elexis-importer ch.elexis.importer.div
</command>
    </hudson.tasks.Shell>
    <hudson.plugins.buckminster.EclipseBuckminsterBuilder>
      <installationName>Fetch Buckminster-remote</installationName>
      <commands>import &apos;${WORKSPACE}/at.medevit.medelexis.releng/buckminster/local.core.cquery&apos;
build  -c
perform -D target.os=linux -D target.ws=gtk -D target.arch=x86_64 at.medevit.medelexis.core.feature#create.product.zip
perform -D target.os=linux -D target.ws=gtk -D target.arch=x86 at.medevit.medelexis.core.feature#create.product.zip
perform -D encoding=UTF-8 -D target.os=macosx -D target.ws=cocoa -D target.arch=x86_64 at.medevit.medelexis.core.feature#create.product.zip
perform -D target.os=win32 -D target.ws=win32 -D target.arch=x86 at.medevit.medelexis.core.feature#create.product.zip</commands>
      <logLevel>info</logLevel>
      <params></params>
      <targetPlatformName>Elexis Core Target</targetPlatformName>
      <userTemp></userTemp>
      <userOutput></userOutput>
      <userCommand></userCommand>
      <userWorkspace></userWorkspace>
      <globalPropertiesFile></globalPropertiesFile>
      <equinoxLauncherArgs></equinoxLauncherArgs>
    </hudson.plugins.buckminster.EclipseBuckminsterBuilder>
  </builders>
  <publishers>
    <hudson.tasks.ArtifactArchiver>
      <artifacts>buckminster.output/at.medevit.medelexis.core.feature_1.0.0-eclipse.feature/*.zip</artifacts>
      <latestOnly>false</latestOnly>
    </hudson.tasks.ArtifactArchiver>
  </publishers>
  <buildWrappers/>
</project>