<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!-- $Id: plugin.xml 4733 2008-12-04 19:13:07Z rgw_ch $ 
 * Copyright (c) 2005-2007, G. Weirich and Elexis
 * All rights reserved. This program and the accompanying materials
 * are made available under the terms of the Eclipse Public License v1.0
 * which accompanies this distribution, and is available at
 * http://www.eclipse.org/legal/epl-v10.html
 *
 * Contributors:
 *    G. Weirich - initial implementation
-->
<plugin>
   <extension-point id="Sidebar" name="%elexis.sidebar" schema="schema/Sidebar.exsd"/>
   <extension-point id="LaborDatenImport" name="%elexis.importLab" schema="schema/LaborDatenImport.exsd"/>
   <extension-point id="FremdDatenImport" name="%elexis.importExt" schema="schema/FremdDatenImport.exsd"/>
   <extension-point id="Text" name="%elexis.text" schema="schema/Text.exsd"/>
   <extension-point id="Verrechnungscode" name="%elexis.articles" schema="schema/Verrechnungscode.exsd"/>
   <extension-point id="PersistentReference" name="%elexis.persistency" schema="schema/PersistentReference.exsd"/>
   <extension-point id="Diagnosecode" name="%elexis.diagnoses" schema="schema/Diagnosecode.exsd"/>
   <extension-point id="RechnungsManager" name="%elexis.accounting" schema="schema/RechnungsManager.exsd"/>
   <extension-point id="KonsExtension" name="%elexis.konsExtension" schema="schema/KonsExtension.exsd"/>
   <extension-point id="ACLContribution" name="Definition of ACLs" schema="schema/ACLContribution.exsd"/>
   <extension-point id="Transporter" name="Transporter" schema="schema/Transporter.exsd"/>
   <extension-point id="DataAccess" name="DataAccess" schema="schema/DataAccess.exsd"/>
   <extension-point id="RezeptHook" name="RezeptHook" schema="schema/RezeptHook.exsd"/>
   <extension-point id="ServiceRegistry" name="ServiceRegistry" schema="schema/ServiceRegistry.exsd"/>
	
   <extension
         id="ElexisApp"
         name="Elexis"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="ch.elexis.Desk">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="ch.elexis.ArtikelPerspektive"
            icon="rsc/basket.png"
            id="ch.elexis.ArtikelPerspektive"
            name="%elexis.articlePerspective"/>
      <perspective
            class="ch.elexis.PatientPerspektive"
            icon="rsc/arztkoffer.ico"
            id="ch.elexis.PatientPerspective"
            name="%elexis.patientPerspective"/>
      <perspective
            class="ch.elexis.AdressPerspektive"
            icon="rsc/personen.ico"
            id="ch.elexis.AdressPerspektive"
            name="%elexis.addressPerspective"/>
      <perspective
            class="ch.elexis.AbrechnungsPerspektive"
            icon="rsc/money.png"
            id="ch.elexis.AbrechnungPerspektive"
            name="%elexis.accountingPerspective">
         <description>
            Eine Perspektive zum Rechnungen erstellen und ausdrucken
         </description>
      </perspective>
      <perspective
            class="ch.elexis.LeistungPerspektive"
            icon="rsc/tick.png"
            id="ch.elexis.LeistungPerspektive"
            name="%elexis.activityPerspective"/>
      <perspective
            class="ch.elexis.ReminderPerspektive"
            icon="rsc/think.ico"
            id="ch.elexis.ReminderPerspektive"
            name="%elexis.reminderPerspective"/>
      <perspective
            class="ch.elexis.BBSPerspective"
            icon="rsc/tafel.jpg"
            id="ch.elexis.SchwarzesBrett"
            name="%elexis.bbsPerspective"/>
      <perspective
            class="ch.elexis.BriefePerspektive"
            icon="rsc/brief.ico"
            id="ch.elexis.BriefePerspektive"
            name="%elexis.letterPerspective"/>
      <perspective
            class="ch.elexis.BestellPerspektive"
            icon="rsc/attach.png"
            id="ch.elexis.bestellperspektive"
            name="Bestellungen"/>
   </extension>
   <extension
         id="ElexisProduct"
         name="Elexis"
         point="org.eclipse.core.runtime.products">
      <product
            application="ch.elexis.ElexisApp"
            description="%elexis.banner"
            name="Elexis">
         <property
               name="appName"
               value="Elexis"/>
         <property
               name="aboutText"
               value="Elexis - die Praxis.&#x0A;(c) 2005-2008 by G. Weirich and Elexis&#x0A;http://www.elexis.ch&#x0A;&#x0A;Informationen und Referenzinstallation:&#x0A;Gerry Weirich&#x0A;Rietstrasse 30&#x0A;8201 Schaffhausen"/>
         <property
               name="aboutImage"
               value="rsc/elexis48.gif"/>
         <property
               name="windowImages"
               value="rsc/elexis2_16.gif,rsc/elexis32_2.gif,rsc/elexis48.gif"/>
         <property
               name="preferenceCustomization"
               value="elexisprefs.ini"/>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="ch.elexis.views.TemplatePrintView"
            icon="rsc/printer.png"
            id="ch.elexis.views.TemplatePrintView"
            name="%elexis.templatePrintView"/>
      <category
            id="ch.elexis.messungenKategorie"
            name="%elexis.measurementsCategory"/>
      <category
            id="ch.elexis.textKategorie"
            name="%elexis.textCategory"/>
      <category
            id="ch.elexis.konsultationKategorie"
            name="%elexis.konsCategory"/>
      <category
            id="ch.elexis.codesKategorie"
            name="%elexis.codesCategory"/>
      <category
            id="ch.elexis.datenKategorie"
            name="%elexis.dataCategory"/>
      <category
            id="ch.elexis.abrechnungKategorie"
            name="%elexis.accountingCategory"/>
      <view
            category="ch.elexis.konsultationKategorie"
            class="ch.elexis.views.FallListeView"
            icon="rsc/faelle.ico"
            id="ch.elexis.FallListeView"
            name="%elexis.caseKonsView"/>
      <view
            category="ch.elexis.messungenKategorie"
            class="ch.elexis.views.LaborView"
            icon="rsc/reagenzglas.ico"
            id="ch.elexis.Labor"
            name="%elexis.labView"/>
      <view
            category="ch.elexis.datenKategorie"
            class="ch.elexis.views.PatientDetailView"
            icon="rsc/person.ico"
            id="ch.elexis.PatDetail"
            name="Patient Detail (alt)"/>
      <view
            category="ch.elexis.codesKategorie"
            class="ch.elexis.views.PlzView"
            id="ch.elexis.Plz"
            name="%elexis.plzView"/>
      <view
            category="ch.elexis.konsultationKategorie"
            class="ch.elexis.views.RezepteView"
            icon="rsc/rezept.ico"
            id="ch.elexis.Rezepte"
            name="%elexis.prescriptionView"/>
      <view
            allowMultiple="false"
            class="ch.elexis.views.Starter"
            id="Starter"
            name="%elexis.launcherView"/>
      <view
            category="ch.elexis.datenKategorie"
            class="ch.elexis.views.PatientenListeView"
            icon="rsc/personen.ico"
            id="ch.elexis.PatListView"
            name="%elexis.patListView"/>
      <view
            category="ch.elexis.datenKategorie"
            class="ch.elexis.views.KompendiumView"
            id="ch.elexis.Kompendium"
            name="%elexis.kompendiumView"/>
      <view
            category="ch.elexis.datenKategorie"
            class="ch.elexis.views.KontakteView"
            icon="rsc/vcard.png"
            id="ch.elexis.Kontakte"
            name="%elexis.contactsView"/>
      <view
            category="ch.elexis.abrechnungKategorie"
            class="ch.elexis.views.rechnung.KonsZumVerrechnenView"
            icon="rsc/page_red.png"
            id="ch.elexis.BehandlungenVerrechnenView"
            name="%elexis.openKonsView"/>
      <view
            category="ch.elexis.abrechnungKategorie"
            class="ch.elexis.views.codesystems.LeistungenView"
            icon="rsc/leistung.png"
            id="ch.elexis.LeistungenView"
            name="%elexis.activityView"/>
      <view
            class="ch.elexis.views.BBSView"
            icon="rsc/tafel.jpg"
            id="ch.elexis.BBSView"
            name="%elexis.bbsView"/>
      <view
            category="ch.elexis.datenKategorie"
            class="ch.elexis.views.artikel.Artikeldetail"
            id="ch.elexis.ArtikelDetail"
            name="%elexis.articleDetailView"/>
     
      <view
            category="ch.elexis.datenKategorie"
            class="ch.elexis.views.FallDetailView"
            id="ch.elexis.FallDetailView"
            name="%elexis.caseDetailView"/>
      <view
            category="ch.elexis.textKategorie"
            class="ch.elexis.views.BriefAuswahl"
            icon="rsc/kuvert.ico"
            id="ch.elexis.BriefAuswahlView"
            name="%elexis.selectLetterView"/>
      <view
            category="ch.elexis.datenKategorie"
            class="ch.elexis.views.KontaktDetailView"
            id="ch.elexis.KontaktDetailView"
            name="%elexis.contactDetailView"/>
      <view
            category="ch.elexis.konsultationKategorie"
            class="ch.elexis.views.KonsDetailView"
            icon="rsc/kons.ico"
            id="ch.elexis.Konsdetail"
            name="%elexis.konsDetailView"/>
      <view
            category="ch.elexis.konsultationKategorie"
            class="ch.elexis.views.codesystems.DiagnosenView"
            icon="rsc/stethoskop.gif"
            id="ch.elexis.DiagnosenView"
            name="%elexis.diagnosesView"/>
      <view
            allowMultiple="true"
            category="ch.elexis.textKategorie"
            class="ch.elexis.views.TextView"
            icon="rsc/dokument.gif"
            id="ch.elexis.TextView"
            name="%elexis.textView"/>
      <view
            allowMultiple="false"
            category="ch.elexis.codesKategorie"
            class="ch.elexis.views.codesystems.CodeDetailView"
            fastViewWidthRatio="0.5f"
            icon="rsc/report.png"
            id="ch.elexis.codedetailview"
            name="%elexis.codesView"/>
      <view
            category="ch.elexis.textKategorie"
            class="ch.elexis.views.LaborblattView"
            icon="rsc/printer.png"
            id="ch.elexis.Laborblatt"
            name="%elexis.labPrintView"/>
      <view
            category="ch.elexis.textKategorie"
            class="ch.elexis.views.AUFZeugnis"
            icon="rsc/printer.png"
            id="ch.elexis.AUFView"
            name="%elexis.auzPrintView"/>
      <view
            category="ch.elexis.textKategorie"
            class="ch.elexis.views.RezeptBlatt"
            icon="rsc/printer.png"
            id="ch.elexis.RezeptBlatt"
            name="%elexis.prescriptionPrintView"/>
      <view
            category="ch.elexis.konsultationKategorie"
            class="ch.elexis.views.PatHeuteView"
            id="ch.elexis.PatHeuteView"
            name="%elexis.patTodayView"/>
      <view
            category="ch.elexis.datenKategorie"
            class="ch.elexis.views.LagerView"
            id="ch.elexis.LagerView"
            name="%elexis.stocksView"/>
      <view
            category="ch.elexis.datenKategorie"
            class="ch.elexis.views.BestellView"
            id="ch.elexis.BestellenView"
            name="%elexis.orderView"/>
      
      <view
            category="ch.elexis.datenKategorie"
            class="ch.elexis.views.artikel.ArtikelView"
            id="ch.elexis.artikelview"
            name="%elexis.articlesView"/>
      <view
            category="ch.elexis.datenKategorie"
            class="ch.elexis.views.artikel.ArtikelSelektor"
            id="ch.elexis.ArtikelSelektor"
            name="%elexis.articleSelectorView"/>
      <view
            category="ch.elexis.datenKategorie"
            class="ch.elexis.views.BestellBlatt"
            id="ch.elexis.BestellBlatt"
            name="%elexis.orderPrintView"/>
      <view
            category="ch.elexis.konsultationKategorie"
            class="ch.elexis.views.KonsListe"
            icon="rsc/behandlung.ico"
            id="ch.elexis.HistoryView"
            name="%elexis.historyView"/>
      <view
            category="ch.elexis.textKategorie"
            class="ch.elexis.views.KGPrintView"
            id="ch.elexis.views.KGPrintView"
            name="%elexis.emrPrintView"/>
      <view
            category="ch.elexis.textKategorie"
            class="ch.elexis.views.TemplatePrintView"
            icon="rsc/printer.png"
            id="ch.elexis.views.TemplatePrintView"
            name="%elexis.templatePrintView"/>
      <view
            category="ch.elexis.konsultationKategorie"
            class="ch.elexis.views.AUF2"
            icon="rsc/auf.ico"
            id="ch.elexis.auf"
            name="%elexis.aufView"/>
      <view
            category="ch.elexis.abrechnungKategorie"
            class="ch.elexis.views.rechnung.RnDetailView"
            icon="rsc/page_green.png"
            id="ch.elexis.RechnungsDetailView"
            name="%elexis.billDetail"/>
      <view
            category="ch.elexis.abrechnungKategorie"
            class="ch.elexis.views.rechnung.RechnungsListeView"
            icon="rsc/page_copy.png"
            id="ch.elexis.RechnungsListeView"
            name="%elexis.billsListView"/>
      <view
            class="ch.elexis.views.DauerMediView"
            icon="rsc/medi.ico"
            id="ch.elexis.dauermedikationview"
            name="%elexis.fixMediView"/>
      <view
            category="ch.elexis.konsultationKategorie"
            class="ch.elexis.views.FaelleView"
            icon="rsc/faelle.ico"
            id="ch.elexis.schoebufaelle"
            name="%elexis.casesListView"/>
      <view
            class="ch.elexis.views.ReminderView"
            icon="rsc/ausrufez.png"
            id="ch.elexis.reminderview"
            name="%elexis.remindersView"/>
      <view
            category="ch.elexis.abrechnungKategorie"
            class="ch.elexis.views.rechnung.AccountView"
            icon="rsc/money.png"
            id="ch.elexis.views.rechnung.AccountView"
            name="%elexis.AccountView"/>
      <view
            category="ch.elexis.abrechnungKategorie"
            class="ch.elexis.views.rechnung.AccountListView"
            icon="rsc/money.png"
            id="ch.elexis.views.rechnung.AccountListView"
            name="%elexis.AccountListView"/>
      <view
            category="ch.elexis.datenKategorie"
            class="ch.elexis.views.SearchView"
            id="ch.elexis.views.SearchView"
            name="%elexis.SearchView"/>
      <view
            allowMultiple="true"
            category="ch.elexis.datenKategorie"
            class="ch.elexis.views.FieldDisplayView"
            icon="rsc/daten.gif"
            id="ch.elexis.dbfielddisplay"
            name="Datenanzeige"/>
      <view
            category="ch.elexis.datenKategorie"
            class="ch.elexis.views.ODDBView"
            id="ch.elexis.ODDBView"
            name="Open Drug Database"/>
      <view
            category="ch.elexis.datenKategorie"
            class="ch.elexis.views.MediVerlaufView"
            id="ch.elexis.medverlaufview"
            name="Medikamente-Verlauf"/>
      <view
            category="ch.elexis.messungenKategorie"
            class="ch.elexis.views.LabNotSeenView"
            fastViewWidthRatio="0.4"
            icon="rsc/reagensask.ico"
            id="ch.elexis.LabNotSeenView"
            name="Labor neu">
      </view>
      <view
            category="ch.elexis.abrechnungKategorie"
            class="ch.elexis.views.rechnung.BillSummary"
            icon="rsc/rechnungen.ico"
            id="ch.elexis.views.rechnung.BillSummary"
            name="%elexis.BillSummaryView">
      </view>
      <view
            category="ch.elexis.datenKategorie"
            class="ch.elexis.views.PatientDetailView2"
            icon="rsc/person.ico"
            id="ch.elexis.PatDetail_v2"
            name="%elexis.patDetailView">
      </view>
      <view
            class="ch.elexis.views.ScriptView"
            id="ch.elexis.scriptsView"
            name="Script">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="ch.elexis.preferences.Ablauf"
            id="ch.elexis.preferences.general"
            name="%elexis.generalPrefs"/>
      <page
            class="ch.elexis.preferences.Datenbank"
            id="ch.elexis.preferences.connect"
            name="%elexis.databasePrefs"/>
      <page
            class="ch.elexis.preferences.Gruppen"
            id="ch.elexis.preferences.security"
            name="%elexis.groupPrefs"/>
      <page
            category="ch.elexis.preferences.security"
            class="ch.elexis.preferences.Zugriff"
            id="ch.elexis.preferences.acl"
            name="%elexis.securityPrefs"/>
      <page
            category="ch.elexis.preferences.security"
            class="ch.elexis.preferences.AnwenderPref"
            id="ch.elexis.anwenderprefs"
            name="%elexis.userPrefs"/>
      <page
            category="ch.elexis.preferences.security"
            class="ch.elexis.preferences.Mandanten"
            id="ch.elexis.MandantenPref"
            name="%elexis.mandatorPrefs"/>
      <page
            class="ch.elexis.preferences.Texterstellung"
            id="ch.elexis.preferences.Texterstellung"
            name="%elexis.textPrefs"/>
      <page
            class="ch.elexis.preferences.LaborPrefs"
            id="ch.elexis.LaborPref"
            name="%elexis.labPrefs"/>
      <page
            category="ch.elexis.preferences.UserPreferences"
            class="ch.elexis.preferences.SidebarPreferences"
            id="ch.elexis.sidebarPrefs"
            name="%elexis.sidebarPrefs"/>
      <page
            class="ch.elexis.preferences.ImporterHost"
            id="ch.elexis.preferences.transporters"
            name="%elexis.importerPrefs"/>
      <!--page
            class="ch.elexis.preferences.DokumentKategorie"
            id="ch.elexis.BriefKategorienPrefs"
            name="%elexis.docCategoryPrefs"/-->
      <page
            class="ch.elexis.preferences.Leistungscodes"
            id="ch.elexis.Leistungscodes"
            name="%elexis.activityCodePrefs"/>
      <page
            class="ch.elexis.preferences.PrinterPreferencePage"
            id="ch.elexis.PrinterPreference"
            name="%elexis.printerPrefs"/>
      <page
            category="ch.elexis.preferences.UserPreferences"
            class="ch.elexis.preferences.ReminderPrefences"
            id="ch.elexis.reminderprefs"
            name="%elexis.reminderPrefs"/>
      <page
            class="ch.elexis.preferences.UserPreferences"
            id="ch.elexis.preferences.UserPreferences"
            name="%elexis.userPrefs"/>
      <page
            category="ch.elexis.preferences.UserPreferences"
            class="ch.elexis.preferences.UserTextPref"
            id="ch.elexis.preferences.usertext"
            name="Texteingabe"/>
      <page
            category="ch.elexis.LaborPref"
            class="ch.elexis.preferences.LabGroupPrefs"
            id="ch.elexis.preferences.LabGroupPrefs"
            name="%elexis.labGroupPrefs"/>
      <page
            class="ch.elexis.preferences.LagerverwaltungPrefs"
            id="ch.elexis.preferences.LagerverwaltungPrefs"
            name="Lagerverwaltung"/>
      <page
            category="ch.elexis.preferences.UserPreferences"
            class="ch.elexis.preferences.UserSettings2"
            id="ch.elexis.userSetting2"
            name="Ansicht">
      </page>
      <page
            category="ch.elexis.LaborPref"
            class="ch.elexis.preferences.LabSettings"
            id="ch.elexis.LaborNeuPrefs"
            name="Einstellungen">
      </page>
      <page
            category="ch.elexis.preferences.UserPreferences"
            class="ch.elexis.preferences.UserCasePreferences"
            id="ch.elexis.preferences.UserCasePreferences"
            name="%elexis.userCasePrefs">
      </page>
      <page
            class="ch.elexis.preferences.ScannerPref"
            id="ch.elexis.preferences.scanner"
            name="%elexis.scannerPrefs">
      </page>
      <page
            class="ch.elexis.preferences.Stickers"
            id="ch.elexis.prefs.sticker"
            name="Sticker">
      </page>
      <page
            category="ch.elexis.preferences.UserPreferences"
            class="ch.elexis.preferences.FontPreference"
            id="ch.elexis.user.fontselector"
            name="Schriftarten">
      </page>
      <page
            category="ch.elexis.preferences.UserPreferences"
            class="ch.elexis.preferences.XIDEdit"
            id="ch.elexis.preferences.xid.edit"
            name="XIDs">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer class="ch.elexis.preferences.PreferenceInitializer"/>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="ch.elexis.commands.kategorie"
            id="ch.elexis.commands.login"
            name="%elexis.loginCommand"/>
      <category
            id="ch.elexis.commands.kategorie"
            name="Elexis"/>
      <command
            categoryId="ch.elexis.commands.kategorie"
            id="ch.elexis.commands.import"
            name="%elexis.importCommand"/>
      <command
            categoryId="ch.elexis.commands.kategorie"
            description="Verbindung zu einer Datenbank herstellen"
            id="ch.elexis.commands.connectWizard"
            name="%elexis.connectCommand"/>
      <command
            description="Zum Anfang zurückgehen"
            id="ch.elexis.commands.home"
            name="Home"/>
      <command
            categoryId="ch.elexis.commands.bills"
            defaultHandler="ch.elexis.commands.ErstelleRnnCommand"
            id="bill.create"
            name="Rechnungen Erstellen">
         <commandParameter
               id="ch.elexis.RechnungErstellen.parameter"
               name="billables"
               optional="true"
               typeId="ch.elexis.TreeType">
         </commandParameter>
      </command>
      <category
            description="Billing related commands"
            id="ch.elexis.commands.bills"
            name="bills">
      </category>
      <command
            categoryId="ch.elexis.commands.bills"
            defaultHandler="ch.elexis.commands.MahnlaufCommand"
            description="Mahnungen erstellen"
            id="bill.reminder"
            name="Mahnlauf">
      </command>
      <commandParameterType
            converter="ch.elexis.commands.TreeToStringConverter"
            id="ch.elexis.TreeType"
            type="ch.elexis.util.Tree">
      </commandParameterType>
   </extension>
   <extension
         point="ch.elexis.Sidebar">
      <Perspektive
            ID="ch.elexis.PatientPerspective"
            icon="kons_perspective"
            name="%sidebar.kons"/>
      <Perspektive
            ID="ch.elexis.AdressPerspektive"
            icon="kontakt_perspective"
            name="%sidebar.contacts"/>
      <Perspektive
            ID="ch.elexis.BriefePerspektive"
            icon="briefe_perspective"
            name="%sidebar.letters"/>
      <Perspektive
            ID="ch.elexis.LeistungPerspektive"
            icon="leistung_perspective"
            name="%sidebar.activities"/>
      <Perspektive
            ID="ch.elexis.ArtikelPerspektive"
            name="%sidebar.articles"/>
      <Perspektive
            ID="ch.elexis.ReminderPerspektive"
            icon="reminder_perspective"
            name="%sidebar.reminders"/>
      <Perspektive
            ID="ch.elexis.AbrechnungPerspektive"
            icon="rechnung_perspective"
            name="%sidebar.bills"/>
      <Perspektive
            ID="ch.elexis.SchwarzesBrett"
            name="%sidebar.bbs"/>
      <Perspektive
            ID="ch.elexis.bestellperspektive"
            name="%sidebar.orders"/>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml"
            plugin="ch.elexis"/>
   </extension>
   <extension
         point="ch.elexis.KonsExtension">
      <Link
            KonsExtension="ch.elexis.text.XrefExtension"
            name="DocumentLInk"/>
      <Link
            KonsExtension="ch.elexis.laborlink.LaborLink"
            name="laborlink"/>
   </extension>
   <extension
         point="ch.elexis.ACLContribution">
      <ACLContribution
            ACLContributor="ch.elexis.admin.ACLContributor"
            name="Elexis.ACLContribution"/>
   </extension>
   <extension
         point="ch.elexis.RechnungsManager">
      <Rechnung
            name="Fall-Standard"
            outputter="ch.elexis.views.rechnung.DefaultOutputter">
      </Rechnung>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
   </extension>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            description="context for billing"
            id="ch.elexis.context.billing"
            name="billing"
            parentId="org.eclipse.ui.contexts.window">
      </context>
   </extension>

</plugin>
