<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="ch.elexis.LaborDatenImport">
      <Importer
            Class="ch.elexis.connect.abxmicros.AbxMicrosConnector"
            ToolbarAction="ch.elexis.connect.abxmicros.ConnectAction"
            name="ABX Micros">
      </Importer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="ch.elexis.preferences.transporters"
            class="ch.elexis.connect.abxmicros.Preferences"
            id="ch.elexis.connect.abxmicros.prefs"
            name="ABX Micros">
      </page>
   </extension>

</plugin>
