<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="ch.elexis.Verrechnungscode">
      <Leistung
            CodeDetailDisplay="ch.elexis.privatrechnung.views.Leistungsdetail"
            CodeSelectorFactory="ch.elexis.privatrechnung.views.Leistungsselektor"
            ElementFactory="ch.elexis.privatrechnung.data.LeistungsFactory"
            name="PrivatLeistung">
      </Leistung>
   </extension>

</plugin>
