<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.startup">
      <startup class="ch.elexis.update.Activator"/>
   </extension>
   <extension
         point="ch.elexis.ACLContribution">
      <ACLContribution
            ACLContributor="ch.elexis.update.Activator"
            name="elexis-updater.ACLContribution"/>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="ch.elexis.update.Preferences"
            id="ch.elexis.updater.preferences"
            name="Update Einstellungen"/>
   </extension>

</plugin>
